@import "tailwindcss";

:root {
  --primary-color: #D84040;  
  --secondary-color: #A31D1D; 
  --background-color: #F8F2DE; 
  --card-background: #ECDC8F;  
  --text-color: #121212;  
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Arial', sans-serif;
}

h1, h2, h3 {
  color: var(--primary-color);
}

.card {
  background-color: var(--card-background);
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.button-primary {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.button-primary:hover {
  background-color: var(--secondary-color);
}

.text-secondary {
  color: var(--secondary-color);
}
